orjson==3.11.4
pandas==2.3.3
scipy==1.16.3
tokenizers==0.22.1
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tqdm==4.67.1
transformers @ git+https://github.com/huggingface/transformers@071eb5334f5a9ac2c7a13515219be8a272388ec6
wandb==0.23.0

